In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Definir el path al documento CSV
file_path = 'datasets/forecasting_database.csv'

# Leer el documento CSV
df = pd.read_csv(file_path)

#Imprimiendo las 5 primeras filas 
df.head()

         Date  Campaign ID     Keyword      Cost      CPC
0  2021-12-27   1646440648  TvCO hogar  14480118  4094.04
1  2021-12-13   1646440648  TvCO hogar  13511283  3212.01
2  2021-12-09   1646440648  TvCO hogar  13058381  3281.31
3  2021-12-16   1646440648  TvCO hogar  11300242  3181.48
4  2021-12-10   1646440648  TvCO hogar  10832131  4111.83

In [4]:
# Observando el tipo de información del dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24990 entries, 0 to 24989
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         24990 non-null  object
 1   Campaign ID  24990 non-null  int64
 2   Keyword      24990 non-null  object
 3   Cost         24990 non-null  int64
 4   CPC          24990 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 976.3+ KB

La definición de las variables son las siguientes:
* `Date`: Fecha de revisión	
* `Campaign ID`: ID de la campaña
* `Keyword`: Palabra clave de la campaña
* `Cost`: inversion en la campaña de anuncios (CampaingID)
* `CPC`: Costo por click

In [12]:
sorted_df = df.sort_values(by='Date', ascending=True)
sorted_df

             Date  Campaign ID                      Keyword     Cost      CPC
24540  2021-01-01   1646440648       paquetes de TvCO+hogar -1285122   194.10
24141  2021-01-01   1646642053                internet fijo -1284213   301.00
22797  2021-01-01   1646440683        internet TvCO precios -1284131   331.10
11132  2021-01-01   1646440648                   TvCO hogar -1152028   212.11
12693  2021-01-01   1646440666                      TvCO tv -1222234   129.00
...           ...          ...                          ...      ...      ...
9645   2021-12-31   1646440683                      TvCObox -1285430    24.00
5648   2021-12-31  14832003666    planes TvCO hogar precios -1233314   831.13
6472   2021-12-31   1646440683      triple play TvCO planes -1280011  2211.00
7139   2021-12-31   1646440683  +planes +triple +play +TvCO -1281121  2193.00
8625   2021-12-31   1646440683       TvCO television planes -1283114  1814.00

[24990 rows x 5 columns]

In [6]:
df.describe()

        Campaign ID          Cost           CPC
count  2.499000e+04  2.499000e+04  24990.000000
mean   4.330822e+09 -1.170046e+06   1467.915930
std    4.900389e+09  4.881327e+05   1293.781346
min    1.646441e+09 -1.285513e+06      1.000000
25%    1.646441e+09 -1.282312e+06    802.105000
50%    1.646441e+09 -1.238153e+06   1219.000000
75%    1.801436e+09 -1.218811e+06   2102.115000
max    1.541254e+10  1.448012e+07  33430.330000

In [10]:
df['Date'].unique()

array(['2021-12-27', '2021-12-13', '2021-12-09', '2021-12-16',
       '2021-12-10', '2021-09-06', '2021-12-14', '2021-12-15',
       '2021-12-06', '2021-12-07', '2021-12-03', '2021-09-13',
       '2021-09-08', '2021-09-01', '2021-12-20', '2021-09-07',
       '2021-09-15', '2021-09-09', '2021-09-14', '2021-12-11',
       '2021-12-02', '2021-09-02', '2021-12-17', '2021-12-01',
       '2021-09-30', '2021-11-30', '2021-11-16', '2021-11-08',
       '2021-10-27', '2021-09-03', '2021-10-28', '2021-12-04',
       '2021-09-10', '2021-11-10', '2021-11-09', '2021-11-17',
       '2021-10-26', '2021-10-04', '2021-12-12', '2021-09-20',
       '2021-12-21', '2021-10-06', '2021-11-18', '2021-10-05',
       '2021-11-02', '2021-12-05', '2021-11-11', '2021-12-22',
       '2021-10-11', '2021-11-04', '2021-12-28', '2021-09-16',
       '2021-09-04', '2021-10-08', '2021-09-29', '2021-10-19',
       '2021-11-05', '2021-11-12', '2021-12-08', '2021-11-19',
       '2021-10-12', '2021-10-25', '2021-09-11', '2021-10-15',
       '2021-10-13', '2021-12-18', '2021-11-22', '2021-10-20',
       '2021-11-29', '2021-10-01', '2021-11-23', '2021-11-24',
       '2021-09-17', '2021-10-07', '2021-10-29', '2021-11-25',
       '2021-10-21', '2021-10-02', '2021-12-29', '2021-10-14',
       '2021-12-23', '2021-11-06', '2021-09-18', '2021-11-13',
       '2021-11-26', '2021-11-03', '2021-12-30', '2021-10-22',
       '2021-09-12', '2021-11-15', '2021-10-09', '2021-11-20',
       '2021-10-30', '2021-12-19', '2021-11-14', '2021-11-27',
       '2021-09-19', '2021-11-01', '2021-11-07', '2021-11-21',
       '2021-10-16', '2021-09-27', '2021-09-28', '2021-09-21',
       '2021-10-23', '2021-10-03', '2021-09-22', '2021-09-23',
       '2021-11-28', '2021-10-18', '2021-09-05', '2021-10-10',
       '2021-10-31', '2021-12-24', '2021-10-24', '2021-10-17',
       '2021-12-31', '2021-09-24', '2021-09-25', '2021-12-26',
       '2021-09-26', '2021-12-25', '2021-08-09', '2021-08-26',
       '2021-08-10', '2021-08-30', '2021-08-27', '2021-08-11',
       '2021-08-25', '2021-08-24', '2021-08-12', '2021-08-13',
       '2021-08-23', '2021-06-23', '2021-08-28', '2021-06-21',
       '2021-08-17', '2021-07-22', '2021-08-19', '2021-06-15',
       '2021-07-26', '2021-08-18', '2021-06-22', '2021-06-28',
       '2021-06-24', '2021-08-20', '2021-08-31', '2021-06-16',
       '2021-06-29', '2021-08-04', '2021-08-14', '2021-06-08',
       '2021-04-15', '2021-08-03', '2021-08-05', '2021-05-10',
       '2021-06-18', '2021-06-25', '2021-06-30', '2021-07-27',
       '2021-06-09', '2021-07-07', '2021-07-09', '2021-08-21',
       '2021-04-16', '2021-07-08', '2021-05-06', '2021-07-19',
       '2021-08-29', '2021-05-04', '2021-06-19', '2021-06-17',
       '2021-08-02', '2021-05-03', '2021-07-28', '2021-06-10',
       '2021-07-21', '2021-04-29', '2021-07-24', '2021-04-12',
       '2021-04-13', '2021-07-23', '2021-05-05', '2021-07-15',
       '2021-05-18', '2021-05-24', '2021-07-29', '2021-07-14',
       '2021-05-07', '2021-04-06', '2021-04-30', '2021-04-05',
       '2021-04-20', '2021-06-04', '2021-07-12', '2021-07-13',
       '2021-03-29', '2021-05-20', '2021-05-14', '2021-05-19',
       '2021-04-19', '2021-03-08', '2021-05-25', '2021-05-31',
       '2021-07-01', '2021-05-12', '2021-07-02', '2021-05-13',
       '2021-05-21', '2021-04-22', '2021-05-11', '2021-04-26',
       '2021-04-21', '2021-06-11', '2021-04-09', '2021-06-26',
       '2021-04-08', '2021-08-16', '2021-04-28', '2021-07-06',
       '2021-04-07', '2021-04-23', '2021-03-03', '2021-05-26',
       '2021-04-10', '2021-06-03', '2021-06-05', '2021-08-08',
       '2021-04-14', '2021-03-04', '2021-05-27', '2021-04-27',
       '2021-05-08', '2021-08-07', '2021-01-27', '2021-07-10',
       '2021-07-03', '2021-05-28', '2021-05-01', '2021-03-30',
       '2021-08-06', '2021-01-20', '2021-05-15', '2021-05-22',
       '2021-01-26', '2021-03-05', '2021-03-02', '2021-04-17',
       '2021-07-05', '2021-07-16', '2021-01-29', '2021-01-18',
       '2021-01-30', '2021-06-07', '2021-08-15', '2021-06-12',
       '2021-04-24', '2021-02-28', '2021-01-19', '2021-01-25',
       '2021-03-15', '2021-03-17', '2021-01-22', '2021-05-29',
       '2021-03-06', '2021-07-31', '2021-03-31', '2021-05-17',
       '2021-03-20', '2021-01-28', '2021-06-02', '2021-01-15',
       '2021-02-08', '2021-01-21', '2021-03-11', '2021-03-10',
       '2021-03-25', '2021-01-14', '2021-03-16', '2021-03-09',
       '2021-02-22', '2021-03-23', '2021-07-30', '2021-03-07',
       '2021-08-22', '2021-08-01', '2021-03-19', '2021-03-24',
       '2021-06-01', '2021-06-06', '2021-03-01', '2021-01-24',
       '2021-02-05', '2021-02-03', '2021-02-02', '2021-02-04',
       '2021-03-13', '2021-03-12', '2021-02-25', '2021-02-15',
       '2021-03-18', '2021-02-26', '2021-04-11', '2021-02-24',
       '2021-03-22', '2021-02-16', '2021-06-14', '2021-01-23',
       '2021-07-17', '2021-03-21', '2021-07-18', '2021-07-20',
       '2021-02-23', '2021-06-20', '2021-04-03', '2021-02-11',
       '2021-02-06', '2021-02-27', '2021-01-17', '2021-01-16',
       '2021-02-09', '2021-02-01', '2021-03-14', '2021-02-10',
       '2021-05-09', '2021-05-23', '2021-03-28', '2021-02-18',
       '2021-02-17', '2021-04-01', '2021-01-11', '2021-06-13',
       '2021-02-14', '2021-01-13', '2021-05-16', '2021-04-18',
       '2021-05-30', '2021-07-25', '2021-02-07', '2021-07-04',
       '2021-04-04', '2021-07-11', '2021-05-02', '2021-02-12',
       '2021-04-25', '2021-06-27', '2021-02-13', '2021-01-12',
       '2021-04-02', '2021-01-07', '2021-01-08', '2021-02-21',
       '2021-01-10', '2021-02-19', '2021-02-20', '2021-01-09',
       '2021-01-04', '2021-01-03', '2021-01-05', '2021-01-06',
       '2021-01-02', '2021-03-27', '2021-03-26', '2021-01-01',
       '2021-01-31'], dtype=object)

In [11]:
len(df['Date'].unique())

365